<div class="row m-5"></div>
<div class="row m-5"></div><!--br-->
<div class="row m-5"></div><!--br-->


<div class="container">
  <div class="row mt-5">
    <div class="col-lg col-sm-12">

        <h1 class="display-4 customH1 font-weight-bold">Hi, i’m Alisher</h1>
        <h4 class="customH1 mb-3 mt-4">I’m a UX, UI designer</h4>
        <p class="mr-5">
          I want to help businesses design, design for a better user experience, IA,
          user flow, wireframing (lo-fi and hi-fi) and prototyping. This passion helps me solve business problems
        </p >
        <button type="button" class="btn btn-dark mb-3 mr-3">Hire me</button>
        <button type="button" class="btn btn-outline-dark mb-3 mr-3">Download CV</button>
    </div>

      <div class="col-1"></div>

    <div class="col-lg col-sm-12">
      <img class="mr-3 rounded" src="../../../assets/Ydoli.jpg" width="300"  alt="enjoy time">
    </div>
  </div>


  <div class="row m-5"></div><!--br-->
  <div class="row m-5"></div><!--br-->


  <div class="row mt-5">
    <div class="col-lg col-sm-12">

      <h1 class="display-4 customH1 font-weight-bold">Fo_oD.Style</h1>
      <h4 class="customH1 my-3 ">UX/UI</h4>
      <p class="">
        This is an individual project created to gain experience in mobile design development.
        Applications Fo_oD Style aims to combine delivery.
      </p >
      <div class="d-flex justify-content-end">
        <div routerLink="project-detail">
          <a style="border-bottom: 1px solid black; margin-right: 10px">Read Case Study</a>
          <img class="mr-3 rounded" src="../../../assets/arrow.svg" width="16" alt="arrow">
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <!--Content(text) block FooD Style-->

    <div class="col-lg col-sm-12">
      <img class="mr-3 rounded" src="../../../assets/enjoying.PNG"  alt="enjoy time">
    </div>
  </div>


  <div class="row m-5"></div><!--br-->
  <div class="row m-5"></div><!--br-->


  <div class="row mt-5">
    <div class="col-lg col-sm-12">

      <h1 class="display-4 customH1 font-weight-bold">Canto</h1>
      <h4 class="customH1 my-3 ">UX/UI</h4>
      <p class="">
        This is an individual project created to gain experience in mobile design development.
        Applications Fo_oD Style aims to combine delivery.
      </p >
      <div style="margin-left: 310px; margin-top: 30px" routerLink="project-detail">
        <a style="border-bottom: 1px solid black; margin-right: 10px">Read Case Study</a>
        <img class="mr-3 rounded" src="../../../assets/arrow.svg" width="16" alt="arrow">
      </div>
    </div>

    <div class="col-1"></div>
    <!--Content(text) block FooD Style-->

    <div class="col-lg col-sm-12">
      <img class="mr-3 rounded" src="../../../assets/enjoying.PNG"  alt="enjoy time">
    </div>
  </div>


  <div class="row m-5"></div><!--br-->
  <div class="row m-5"></div><!--br-->



</div>
