<div class="row m-5"></div>  <!--br-->
<div class="container">
  <!--    <img src="..." class="img-fluid" alt="Responsive image">-->

  <!--First block FooD Style-->
  <div class="row mt-5">
    <div class="col-lg col-sm-12">
      <div class="col-md-6 px-0">
        <h1 class="display-4 customH1 font-weight-bold">Fo_oD.Style</h1>
        <h4 class="UnderH my-3 ">2020.12-2021.01</h4>
      </div>
    </div>

    <!--Content(text) block FooD Style-->

    <div class="col-lg col-sm-12">
      <p class="mb-4 customP">
        This is an individual project created to gain experience in mobile design development.
        Applications Fo_oD Style aims to combine delivery applications and find recipes applications
        for the convenience of quarantined users. The goal of the project was to achieve immersion of
        users by making it familiar and friendly.
      </p >
      <h4 class="mb-2 customH4">
        Type
      </h4>
      <p class="mb-4 customP">
        Android and iOS app
      </p>
      <h4 class="mb-2 customH4">
        What makes Food Style unique?
      </h4>
      <p class="mb-4 customP">
        The key aspect for this project was the combination of both regular food delivery and the ability
        to find many different recipes with step-by-step cooking
      </p>
      <h4 class="mb-2 customH4">
        Tools
      </h4>
      <p class="customP">
        Figma, Adobe XD, Notion, paper, pen and imagination
      </p>
    </div>
  </div>


  <div class="row m-5"></div>  <!--br-->

  <!--Second block Video-->
  <div class="row mt-5">
    <div class="col-lg col-sm-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-lg col-sm-12">
      <h4 class="mb-2 customH1">
        My role
      </h4>
      <button type="button" class="btn customBtn btn-outline-secondary mb-3 mr-3">Analysis</button>
      <button type="button" class="btn btn-outline-secondary mb-3 mr-3">Storyboard</button>
      <button type="button" class="btn btn-outline-secondary mb-3 mr-3">User flow</button>
      <br>
      <button type="button" class="btn btn-outline-secondary mb-3 mr-3">Wireframing</button>
      <button type="button" class="btn btn-outline-secondary mb-3 mr-3">Prototyping</button>
      <button type="button" class="btn btn-outline-secondary mb-3 mr-3">Color</button>
      <br>
      <button type="button" class="btn btn-outline-secondary mb-3 mr-3">Typography</button>
      <p class="mb-2 customP">
        There was only me on the team
      </p>
      <p class="customP">
        Make the application friendly using all the principles from <a href="https://lawsofux.com/" target="_blank">https://lawsofux.com/</a>
      </p>
    </div>
  </div>


  <div class="row m-5"></div>  <!--br-->

  <!--Third block Design proc-->
  <div class="col-md px-0">
    <h1 class="display-4 customH1 font-weight-bold">Design Process</h1>
    <div class="row m-1">
      <p class="UnderH my-3 mr-3">1. Storyboard</p>
      <p class="UnderH my-3 mr-3">2. Define</p>
      <p class="UnderH my-3 mr-3">3. Ideate</p>
      <p class="UnderH my-3 mr-3">4. Select</p>
      <p class="UnderH my-3 mr-3">5. Prototype</p>
    </div>
  </div>


  <div class="row m-5"></div>  <!--br-->

  <!--Fourth block Storyboard-->
  <div class=" col-md px-0">
    <h1 class="display-4 customH1 font-weight-bold">Storyboard</h1>
    <p class="UnderH my-3 ">The storyboard helps us identify key points in the process of ordering / sourcing recipes through
      a food style app.</p>
  </div>

  <!--Content Storyboard-->
  <div class="row mt-4">
    <div class="media col">
      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3 rounded" src="../../assets/enjoying.PNG" width="200" height="180" alt="enjoy time">
          <div class="media-body">
            <h5 class="mt-0 mb-1">1. Enjoy the time</h5>
            <p class="mt-4 customP">
              It was another great day when I just do nothing in quarantine
            </p>
          </div>
        </li>
        <li class="media my-4">
          <img class="mr-3 rounded" src="../../assets/Fridge.PNG" width="200" height="180" alt="enjoy time">
          <div class="media-body">
            <h5 class="mt-0">2. Mom's message</h5>
            <p class="mt-4 customP">
              Damn, mom wrote that the guests are coming soon and I need to make pasta, what should I do?
            </p>
          </div>
        </li>
        <li class="media">
          <img class="mr-3 rounded" src="../../assets/Restaurant.PNG" width="200" height="180" alt="enjoy time">
          <div class="media-body">
            <h5 class="mt-0">3. Look for a recipes</h5>
            <p class="mt-4 customP">
              So, I have a Food Style application where I can find a recipe and, if I can't cook, I'll just order ready-made food.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="media col">
      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3 rounded" src="../../assets/Fridge.PNG" width="200" height="180" alt="enjoy time">
          <div class="media-body">
            <h5 class="mt-0">4. Check the fridge</h5>
            <p class="mt-4 customP">
              I found an easy recipe for pasta, it says that you need noodles, minced meat and tomato paste,
              i need to check the fridge
            </p>
          </div>
        </li>
        <li class="media my-4">
          <img class="mr-3 rounded" src="../../assets/check.PNG" width="200" height="180" alt="enjoy time">
          <div class="media-body">
            <h5 class="mt-0">5. Order ingredients</h5>
            <p class="mt-4 customP">
              It turns out I don't have minced meat, I need to order it and at the same time order pizza and sushi
            </p>
          </div>
        </li>
        <li class="media">
          <img class="mr-3 rounded" src="../../assets/TakeOrder.PNG" width="200" height="180" alt="enjoy time">
          <div class="media-body">
            <h5 class="mt-0">6. Take order</h5>
            <p class="mt-4 customP">
              All the order came, pretty quickly I didn't even have time to boil the paws
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row m-5"></div>  <!--br-->

  <!--Fifth block Define problem-->
  <div class=" col-md px-0">
    <h1 class="display-4 customH1 font-weight-bold">Define</h1>
    <p class="UnderH my-3 ">How might i make a more intuitive and simple product for non-tech people?</p>
    <h4 class="mt-5 customH1">
      Problems
    </h4>
    <ul>
      <li class="my-3 customP">There are many food delivery and cooking applications on the market</li>
      <li class="my-3 customP">Filter ingredients (allergic, vegetarian, halal, ban ingredients)
      </li>
      <li class="my-3 customP">Make the app unique and using features from other similar apps
      </li>
      <li class="my-3 customP">Convenient search for recipes</li>
      <li class="my-3 customP">Cluttering Interfaces with too much information on one screen</li>
    </ul>
  </div>

  <div class="row m-5"></div>  <!--br-->

  <div class="row">
    <h1 class="display-4 customH1 font-weight-bold">Ideate</h1>
    <div class="row mt-3">
      <div class="col aline-content-between justify-content-between">
        <img src="../../assets/Wireframe.PNG" alt="img" width="540" class="rounded-top">
        <img src="../../assets/Flow.PNG" alt="img" width="540" class="rounded-bottom">
      </div>
      <div class="col">
        <p class="UnderH">I looked at many different delivery applications and recipes,
          identifying their shortcomings, created user flows and created lo-fi fidelity wireframes
          for them with marker and whiteboard, thinking about each step (is it necessary at all, if
          the user wants to go here, it can be moved and so on). Using lawsofux made the application right
        </p>
        <img src="../../assets/Userflow.PNG" alt="img" width="540" height="280" class="rounded">
      </div>
    </div>
  </div>

  <div class="row m-5"></div>  <!--br-->

  <div class=" col-md px-0">
    <h1 class="display-4 customH1 font-weight-bold">Rethink</h1>
    <p class="UnderH my-3 ">The page with the dish and the selection of ingredients has been rethink,
      it is more convenient to select the number of additional ingredients and it is clear how many ingredients
      the user has selected or which of them have been removed.</p>
    <img src="../../assets/rethink.PNG" class="img-fluid" alt="Responsive image">
  </div>

  <div class="row m-5"></div>  <!--br-->





  <div class="col-md px-0">
    <h1 class="display-4 customH1 font-weight-bold">Prototype</h1>
    <div class="row mb-4 mt-3">
      <div class="col-lg col-sm-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <h4 class="mt-4 customH1">
          Prototype Part 1 - Shop
        </h4>
        <p class="mt-3 customP">
          User experience:<br>
          Browsing restaurants -> restaurant menus -> selecting dish ingredients
        </p>
      </div>

      <div class="col-lg col-sm-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>

        <h4 class="mt-4 customH1">
          Prototype Part 2 - Cook
        </h4>
        <p class="mt-3 customP">
          User Experience:<br>
          Recipe Viewer -> Recipe Filter -> Cooking time, Daily regimen, Cuisine, Calories, Dietary
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>

        <h4 class="mt-4 customH1">
          Prototype Part 3 - Cart
        </h4>
        <p class="mt-3 customP">
          User experience:<br>
          Viewing a product -> Deleting a product -> Viewing bank cards -> View a delivery map and additional information
        </p>
      </div>
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <h4 class="mt-4 customH1">
          Prototype Part 4 - Fridge
        </h4>
        <p class="mt-3 customP">
          User experience:<br>
          View Available Ingredients -> Remove Ingredients -> Add Ingredients to Fridge -> View Ingredients Store
        </p>
      </div>

    </div>
  </div>



  <div class="row m-5"></div>  <!--br-->

  <div class=" col-md px-0">
    <h1 class="display-4 customH1 font-weight-bold">Design Guidelines</h1>
    <div class="row mt-3">
      <div class="col">
        <img src="../../assets/Guide.PNG" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col ml-3">
        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            1
          </div>
          <div class="pl-5">
            <div class="guideline_title">App bar</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#1E1E1E</span>
              <div class="guideline_item_color ml-3" style="background-color: #1E1E1E"></div>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            2
          </div>
          <div class="pl-5">
            <div class="guideline_title">Address selection</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#F1F1F1</span>
              <div class="guideline_item_color ml-3" style="background-color: #F1F1F1"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font:</span>
              <span class="ml-5 mr-3 ">Poppins</span>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">20</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            3
          </div>
          <div class="pl-5">
            <div class="guideline_title">Search bar</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#5A5F64</span>
              <div class="guideline_item_color ml-2" style="background-color: #5A5F64"></div>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            4
          </div>
          <div class="pl-5">
            <div class="guideline_title">Section bar</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#EDB19A</span>
              <div class="guideline_item_color ml-1" style="background-color: #EDB19A"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">20</span>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font color:</span>
              <span class="ml-2 mr-3 ">#EDB19A</span>
              <div class="guideline_item_color ml-1" style="background-color: #EDB19A"></div>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            5
          </div>
          <div class="pl-5">
            <div class="guideline_title">Restaurant name</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#EBEBEB</span>
              <div class="guideline_item_color" style="background-color: #EBEBEB"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">22</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            6
          </div>
          <div class="pl-5">
            <div class="guideline_title">Cooking time</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#EBEBEB</span>
              <div class="guideline_item_color" style="background-color: #EBEBEB"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">14</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            7
          </div>
          <div class="pl-5">
            <div class="guideline_title">Additional information</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#959596</span>
              <div class="guideline_item_color ml-2" style="background-color: #959596"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">14</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            8
          </div>
          <div class="pl-5">
            <div class="guideline_title">Background</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#303335</span>
              <div class="guideline_item_color ml-2" style="background-color: #303335"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="row m-5"></div>  <!--br-->



</div>
