<div class="row m-5"></div>
<div class="row m-5"></div><!--br-->
<div class="row m-5"></div><!--br-->


<div class="container">
  <h1 class="display-4 customH1 font-weight-bold">Kereidin Alisher</h1>
  <div class="row mt-5">
    <div class="col-lg col-sm-12">
      <img class="mr-3 rounded" src="../../../assets/Ydoli.jpg" width="300"  alt="enjoy time">
    </div>

    <div class="col-lg col-sm-12">
      <h4 class="customH1 mb-3 mt-4">About me</h4>
      <p class="mr-5">
        I'm a UX/UI designer living in Almaty, Kazakhstan. Currently i'm studying at IITU
        university 3 course on Information System specialty.
      </p>
      <p>
        I have chosen UX / UI design as my career because I can use a wide range of
        skills that I have acquired from university. Like web design, landing page, management,
        marketing, coding knowledge, working with databases, and the most important skill I acquired
        during my studies at university is the ability to google.
      </p>
    </div>

  </div>
</div>
