
<div class="container" style="margin-top: 140px">

  <!--First block FooD Style-->
  <div class="row mt-5">
    <div class="col-lg col-sm-12">
      <div class="col-md-6 px-0">
        <h1 class="display-4 customH1 font-weight-bold">{{foundProject.name}}</h1>
        <h4 class="UnderH my-3 ">{{foundProject.date}}</h4>
      </div>
    </div>

    <!--Content(text) block FooD Style-->

    <div class="col-lg col-sm-12">
      <p class="mb-4 customP">
        {{foundProject.description}}
      </p >
      <h4 class="mb-2 customH4">
        Type
      </h4>
      <p class="mb-4 customP">
        {{foundProject.type}}
      </p>
      <h4 class="mb-2 customH4">
        What makes Food Style unique?
      </h4>
      <p class="mb-4 customP">
        {{foundProject.unique}}
      </p>
      <h4 class="mb-2 customH4">
        Tools
      </h4>
      <p class="customP">
        {{foundProject.tools}}
      </p>
    </div>
  </div>



  <!--Second block Video-->
  <div class="row mt-5 mar-top">
    <div class="col-lg col-sm-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/dvTDvRZ9ea0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-lg col-sm-12">
      <h4 class="mb-2 customH1">
        My role
      </h4>
      <div style="max-width: 370px;">
      <button type="button" class="btn customBtn btn-outline-secondary mb-3 mr-3" *ngFor="let role of foundProject.role">{{role}}</button>
      </div>
      <p class="mb-2 customP">
        {{foundProject.roleDescription}}
      </p>

    </div>
  </div>


  <!--Third block Design proc-->
  <div class="col-md px-0 mar-top">
    <h1 class="display-4 customH1 font-weight-bold">Design Process</h1>
    <div class="row m-1" >
      <ul>
        <li *ngFor="let step of foundProject.designProcess" class="style-for-steps">
          {{step}}
        </li>
      </ul>
    </div>
  </div>


  <div *ngIf="foundProject.id == 2" class="row mar-top">
    <h1 class="display-4 customH1 font-weight-bold">Analyze</h1>
    <div class="row mt-3">
      <div class="col aline-content-between justify-content-between">
        <img src="../../../assets/Statistic-spot.png" alt="img" width="410" class="rounded-top">
        <img src="../../../assets/Statistic-apple.png" alt="img" width="410" class="rounded-bottom">
      </div>
      <div class="col">
        <p class="UnderH">Before starting to design, I analyzed existing applications and the most popular was Spotify with 271 million users per month and Apple music only has 68 million users per month.
        </p>
        <img src="../../../assets/Pie_char_music.png" alt="img" width="540" height="280" class="rounded">
      </div>
    </div>
  </div>

  <!--Fourth block Storyboard-->
  <div class=" col-md px-0 mar-top">
    <h1 class="display-4 customH1 font-weight-bold">Storyboard</h1>
    <p class="UnderH my-3 ">The storyboard helps us identify key points in the process of ordering / sourcing recipes through
      a food style app.</p>
  </div>

  <!--Content Storyboard-->
  <div class="row mt-4">
    <div class="col">
      <ng-container *ngFor="let board of foundProject.storyboard; let i = index">
        <ul *ngIf="i < 3" class="list-unstyled">
          <li class="media">
            <img class="mr-3 rounded" src="../../../assets/{{board.imageUrl}}" width="200" height="180" alt="enjoy time">
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{i+1}}. {{board.title}}</h5>
              <p class="mt-4 customP">
                {{board.description}}
              </p>
            </div>
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="col">
      <ng-container *ngFor="let board of foundProject.storyboard; let i = index">
        <ul *ngIf="i >= 3" class="list-unstyled">
          <li class="media">
            <img class="mr-3 rounded" src="../../../assets/{{board.imageUrl}}" width="200" height="180" alt="enjoy time">
            <div class="media-body">
              <h5 class="mt-0 mb-1">{{i+1}}. {{board.title}}</h5>
              <p class="mt-4 customP">
                {{board.description}}
              </p>
            </div>
          </li>
        </ul>
      </ng-container>
    </div>
  </div>


  <!--Fifth block Define problem-->
  <div class=" col-md px-0 mar-top">
    <h1 class="display-4 customH1 font-weight-bold">Define</h1>
    <p class="UnderH my-3 ">How might i make a more intuitive and simple product for non-tech people?</p>
    <h4 class="mt-5 customH1">
      Problems
    </h4>
    <ul>
      <li *ngFor="let step of foundProject.problems" class="style-for-steps" style="font-size: 17px;">
        {{step}}
      </li>
    </ul>
  </div>

  <div class="row mar-top">
    <h1 class="display-4 customH1 font-weight-bold">Ideate</h1>
    <div class="row mt-3">
      <div class="col aline-content-between justify-content-between">
        <img src="../../../assets/{{foundProject.ideateImg}}" alt="img" width="{{foundProject.ideateWidth}}" class="rounded-top">
        <img  *ngIf="foundProject.id == 1"  src="../../../assets/Flow.PNG" alt="img" width="540" class="rounded-bottom">
      </div>
      <div class="col">
        <p class="UnderH">{{foundProject.ideate}}
        </p>
        <img  *ngIf="foundProject.id == 1"  src="../../../assets/Userflow.PNG" alt="img" width="540" height="280" class="rounded">
      </div>
    </div>
  </div>


  <div *ngIf="foundProject.id == 1" class=" col-md px-0 mar-top">
    <h1 class="display-4 customH1 font-weight-bold">Rethink</h1>
    <p class="UnderH my-3 ">The page with the dish and the selection of ingredients has been rethink,
      it is more convenient to select the number of additional ingredients and it is clear how many ingredients
      the user has selected or which of them have been removed.</p>
    <img src="../../../assets/rethink.PNG" class="img-fluid" alt="Responsive image">
  </div>


  <div class="col-md px-0 mar-top">
    <h1 class="display-4 customH1 font-weight-bold">Prototype</h1>
    <div class="row mb-4 mt-3">
      <ng-container  *ngFor="let prot of foundProject.prototype; let i = index" >
        <div class="col-lg col-sm-12" *ngIf="i < 2">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/dvTDvRZ9ea0" allowfullscreen></iframe>
          </div>
          <h4 class="mt-4 customH1">
            Prototype Part {{i+1}} - {{prot.name}}
          </h4>
          <p class="mt-3 customP">
            User experience:<br>
            {{prot.ux}}
          </p>
        </div>
      </ng-container>
    </div>


    <div class="row ">
      <ng-container  *ngFor="let prot of foundProject.prototype; let i = index" >
        <div class="col-lg col-sm-12" *ngIf="i >= 2">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/dvTDvRZ9ea0" allowfullscreen></iframe>
          </div>
          <h4 class="mt-4 customH1">
            Prototype Part {{i+1}} - {{prot.name}}
          </h4>
          <p class="mt-3 customP">
            User experience:<br>
            {{prot.ux}}
          </p>
        </div>
      </ng-container>
      </div>
  </div>


  <div class=" col-md px-0 mar-top" *ngIf="foundProject.id == 1">
    <h1 class="display-4 customH1 font-weight-bold">Design Guidelines</h1>
    <div class="row mt-3">
      <div class="col">
        <img src="../../../assets/Guide.PNG" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col ml-3">
        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            1
          </div>
          <div class="pl-5">
            <div class="guideline_title">App bar</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#1E1E1E</span>
              <div class="guideline_item_color ml-3" style="background-color: #1E1E1E"></div>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            2
          </div>
          <div class="pl-5">
            <div class="guideline_title">Address selection</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#F1F1F1</span>
              <div class="guideline_item_color ml-3" style="background-color: #F1F1F1"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font:</span>
              <span class="ml-5 mr-3 ">Poppins</span>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">20</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            3
          </div>
          <div class="pl-5">
            <div class="guideline_title">Search bar</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#5A5F64</span>
              <div class="guideline_item_color ml-2" style="background-color: #5A5F64"></div>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            4
          </div>
          <div class="pl-5">
            <div class="guideline_title">Section bar</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#EDB19A</span>
              <div class="guideline_item_color ml-1" style="background-color: #EDB19A"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">20</span>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font color:</span>
              <span class="ml-2 mr-3 ">#EDB19A</span>
              <div class="guideline_item_color ml-1" style="background-color: #EDB19A"></div>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            5
          </div>
          <div class="pl-5">
            <div class="guideline_title">Restaurant name</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#EBEBEB</span>
              <div class="guideline_item_color" style="background-color: #EBEBEB"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">22</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            6
          </div>
          <div class="pl-5">
            <div class="guideline_title">Cooking time</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#EBEBEB</span>
              <div class="guideline_item_color" style="background-color: #EBEBEB"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">14</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            7
          </div>
          <div class="pl-5">
            <div class="guideline_title">Additional information</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#959596</span>
              <div class="guideline_item_color ml-2" style="background-color: #959596"></div>
            </div>
            <div class="guideline_content">
              <span class="ml-5">Font size:</span>
              <span class="ml-3 mr-3 ">14</span>
            </div>
          </div>
        </div>

        <div class="guideline_item">
          <div class="position-absolute rounded-circle guideline_item_counter">
            8
          </div>
          <div class="pl-5">
            <div class="guideline_title">Background</div>
            <div class="guideline_content">
              <span class="ml-5">Color:</span>
              <span class="ml-5 mr-3 ">#303335</span>
              <div class="guideline_item_color ml-2" style="background-color: #303335"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <div class="row m-5"></div>  <!--br-->



</div>
